*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  font-family: "Poppins", Helvetica, sans-serif;
  background: #EEE2DB;  /* fallback for old browsers */
}

/* Navigation Bar */
.navbar-light {
  background-color: #B85C43;
}

.logowhite {
  width: 100px;
}

.navbar-nav {
  font-size: 14px;
  line-height: 10px;
  overflow: hidden;
  position: relative;
  color: #FFFFFF;
}

.navbar-light .navbar-nav a {
  display: block;
  position: relative;
  float: right;
  padding: 1em 0 1em;
  text-decoration: none;
  font-weight: 400;
  color: #393939;
  transition: .7s;
}

.navbar-light .navbar-nav a:hover {
  color: #E3B505 !important;
}

.nav-item {
  padding-right: 10px;
}

nav-menu ul li a,
nav-menu ul li a:after,
nav-menu ul li a:before {
  transition: all .5s;
}

.nav-menu>a {
  position: relative;
}

.nav-menu ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  content: '.';
  color: transparent;
  background: #E3B505;
  height: 4px;
  box-shadow: 0 1px 1 white;
}

.nav-menu ul li a:hover:after {
  display: inline-block;
  width: 100%;
  transition: all .5s ease-in-out;
}

/* Hero */
/* .hero {
  background: url(../images/profilephoto.png) no-repeat  right fixed;
  background-size: 30%;
  margin: 0;
  padding-top: 100px;
  height: 500px;
  width: 100%;
} */

/* Main */
#aboutmain {
  margin-top: 50px;
  position: relative;
}

#about-left {
  padding: 0 20px;
  margin-bottom: 20px;
  text-align: center;
}

#about-right1, #about-right2 {
  padding: 0 50px;
  margin-bottom: 20px;
  text-align: center;
}

.profilepic {
  width: 260px;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: bold;
}

h4 {
  font-size: 20px;
  font-weight: lighter;
  color: #703035;
}

.subtitle, p {
  font-size: 14px;
}

.subtitle {
  font-weight: bold;
}

p {
  font-weight: lighter;
  line-height: 30px;
}

img {
  width: 100%;
}


/* unvisited link */
a:link {
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: #333333;
}
/* mouse over link */
a:hover {
    color: #5d5d5d;
    text-decoration: none;
}
/* selected link */
a:active {
    color: #FFFFFF;
}


/* Footer section */
footer {
  position: relative;
  padding: 10px 0;
  width: 100%;
  background-color: #D28F7C;
}

i {
  font-size: 25px;
  padding-left: 8px;
}

.logoblack {
  width: 100px;
  margin-top: -23px;
}

footer h4 {
  font-size: 16px;
}

.btn-sm {
  background-color: #E3B505;
  border-color: #E3B505;
  font-size: 10px;
  font-weight: 200;
  margin-bottom: 10px;
}

.btn-sm a {
  font-size: 14px;
}

.btn-sm:hover {
  background-color: #333333;
  border-color: #333333;
  color: #FFFFFF;
}

span.small {
  font-size: 9px;
  padding: 15px;
}


/* Media Queries */
/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  /* Main */
  #about-left {
    padding: 0 20px;
    margin-top: -380px;
    text-align: left;
    flex-wrap: wrap;
  }

  #about-right1, #about-right2 {
    padding: 0 20px 0 50px;
    margin-bottom: 20px;
    text-align: right;
  }

  #about-right2 {
    margin-top: -1200px;
    text-align: right;
  }

  .profilepic {
    width: 260px;
    margin-left: 350px;
  }

  p {
    font-weight: lighter;
    line-height: 30px;
  }

  img {
    width: 35%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Main */
  #about-left {
    padding: 0 20px;
    margin-top: -590px;
    text-align: left;
    flex-wrap: wrap;
  }

  #about-right1, #about-right2 {
    padding: 0 20px 50px 50px;
    margin-bottom: 50px;
    text-align: right;
  }

  #about-right2 {
    margin-top: -700px;
    text-align: right;
  }

  .profilepic {
    width: 350px;
    margin-left: 350px;
  }

  img {
    width: 35%;
  }

  /* Footer section */
  i {
    font-size: 30px;
    padding-left: 8px;
  }

  .logoblack {
    width: 110px;
    margin-top: -23px;
  }

  footer h4 {
    font-size: 20px;
    margin-top: -50px;
  }

  span.small {
    font-size: 11px;
    padding: 15px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Navigation Bar */
  .logowhite {
    width: 120px;
  }

  a.nav-link {
    font-size: 16px;
  }

  .nav-item {
    padding-right: 10px;
  }

  /* Main */
  #about-left {
    padding: 0 80px 0 50px;
    margin-top: -590px;
    text-align: left;
    flex-wrap: wrap;
  }

  #about-right1, #about-right2 {
    padding: 0 50px 50px 50px;
    margin-bottom: 50px;
    text-align: right;
  }

  #about-right2 {
    margin-top: -650px;
    text-align: right;
  }

  h1 {
    font-size: 32px;
  }

  h4 {
    font-size: 20px;
  }

  .subtitle, p {
    font-size: 18px;
  }

  .profilepic {
    width: 350px;
    margin-left: 350px;
  }

  img {
    width: 26%;
  }

  /* Footer section */
  i {
    font-size: 24px;
    padding-left: 10px;
    color: #333;
  }

  .logoblack {
    width: 100px;
  }

  footer h4 {
    font-size: 20px;
    margin-top: -50px;
  }

  .btn-sm a {
    font-size: 16px;
  }

  span.small {
    font-size: 12px;
  }

}
