*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  font-family: "Poppins", Helvetica, sans-serif;
  background: #f9f9f9;  /* fallback for old browsers */
}

/* Navigation Bar */
.sticky-top {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2px;
  background-color: rgba(238,238,238,0.5);
}

.logoblack {
  width: 100px;
}

.navbar-nav {
  font-size: 20px;
  overflow: hidden;
  position: relative;
}

.navbar-nav a:link {
  font-size: 16px;
}

.navbar-light .navbar-toggler {
  border: none!important;
}

button:focus {
  outline: none;
}

.navbar-toggler span {
   display: block;
   background-color: #444;
   height: 3px;
   width: 25px;
   margin-top: 4px;
   margin-bottom: 4px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   /* opacity: 1; */
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
   -webkit-transition: transform .35s ease-in-out;
   -moz-transition: transform .35s ease-in-out;
   -o-transition: transform .35s ease-in-out;
   transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    margin-top: 0px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    margin-top: -22px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}

.navbar-light .navbar-nav a {
  display: block;
  position: relative;
  float: right;
  text-decoration: none;
  transition: .5s;
}

.navbar-light .navbar-nav a:hover {
  color: #ff5c21 !important;
}

.nav-menu ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  content: '.';
  color: transparent;
  background: #ff5c21;
  height: 3px;
  box-shadow: 0 1px 1 white;
}

.nav-menu ul li a:hover:after {
  display: inline-block;
  width: 100%;
  transition: all .4s ease-in-out;
}


/* Hero */
.hero {
  background: url(../images/about/profilephoto2.JPG) no-repeat center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 600px;
  width: 100%;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 34px;
  font-weight: 900;
  position: absolute;
  bottom: 240px;
  left: 10px;
  color: #fff;
}

/* Main */
#aboutmain {
  height: 100%;
  width: 100%;
  margin: 0;
}

#aboutcontent {
  margin-top: 20px;
}

#aboutwebsite {
  margin: 50px 0;
}

h2, h4 {
  font-size: 20px;
  font-weight: 300;
  color: #e83f14;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: #e83f14;
}

.subtitle, p {
  font-size: 16px;
}

.subtitle {
  font-weight: 500;
}

p {
  font-weight: 200;
  line-height: 33px;
}

img {
  width: 100%;
}

.btn {
  font-size: 14px;
  background: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
  border: none;
  border-color: transparent;
  border-radius: 80px;
  padding: 10px 18px;
  font-weight: 300;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #333333;
  border-color: transparent;
  color: #FFFFFF;
}


/* unvisited link */
a:link {
    color: #fff;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: #333;
}
/* mouse over link */
a:hover {
    color: #FFFFFF;
}
/* selected link */
a:active {
    color: #ff5c21;
}


/* Footer section */
footer {
  position: relative;
  padding: 15px 0;
  width: 100%;
  background: #eee;
}


i {
  font-size: 25px;
  padding-left: 8px;
  color: #333;
}

i:hover {
  color: #ffffff;
}

footer .logoblack {
  width: 100px;
  margin-top: -20px;
}

footer h4 {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 300;
  color: #000;
}

span.small {
  font-size: 8px;
  padding: 20px;
}


/* Media Queries */
/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  /* Hero */
  .hero {
    height: 500px;
  }

  h1 {
    position: absolute;
    bottom: 150px;
    left: 20px;
  }

  /* Main */
  #aboutcontent {
    margin-top: 30px;
  }

  img {
    width: 80%;
  }

  /* Footer */
  footer {
    padding: 10px 0;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  /* Hero */
  .hero {
    background-size: cover;
    background-position: 40% 30%;
    margin: 0 auto;
    padding: 0;
    height: 600px;
    width: 100%;
  }

  h1 {
    position: absolute;
    bottom: 300px;
    left: 40px;
  }

  /* Main */

  #aboutcontent {
    margin-top: 30px;
    padding: 0 100px;
  }

  img {
    width: 70%;
  }

  /* Footer */
  footer h4 {
    margin-top: -50px;

  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .nav-item {
    padding-right: 15px;
  }

  /* Hero */
  h1 {
    font-size: 40px;
    position: absolute;
    bottom: 300px;
    left: 40px;
  }

  /* Main */

  #aboutcontent {
    margin-top: 30px;
    padding: 0 150px;
  }

  h2, h4 {
    font-size: 24px;
  }

  .subtitle, p {
    font-size: 18px;
  }

  img {
    width: 60%;
  }

  /* Footer */
  footer h4 {
    margin-top: -50px;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Navigation Bar */
  .logoblack {
    width: 100px;
  }

  .nav-item {
    padding-right: 20px;
  }

  /* Hero */
  .hero {
    height: 600px;
  }

  h1 {
    font-size: 50px;
    position: absolute;
    bottom: 200px;
    left: 40px;
  }

  /* Main */
  #aboutcontent {
    margin-top: 30px;
    padding: 0 250px;
  }

  h2, h4 {
    font-size: 24px;
  }

  h3 {
    font-size: 36px;
  }

  .subtitle, p {
    font-size: 18px;
  }

  img {
    width: 50%;
  }

  .btn-primary {
    font-size: 16px;
    padding: 10px;
  }

  /* Footer */
  footer h4 {
    margin-top: -50px;
    margin-bottom: 20px;
  }

  footer .small {
    font-size: 14px;
    padding: 20px;
  }

}
