*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  font-family: "Poppins", Helvetica, sans-serif;
  background: #EEE;  /* fallback for old browsers */
}

/* Navigation Bar */
.sticky-top {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #eee;
  border-bottom: 0.5px solid #333;
}

.logoblack {
  padding-top: 20px;
}

.navbar-nav {
  font-size: 20px;
  overflow: hidden;
  position: relative;
}

.navbar-nav a:link {
  font-size: 16px;
}

.navbar-light .navbar-toggler {
  border: none!important;
}

button:focus {
  outline: none;
}

.navbar-toggler span {
   display: block;
   background-color: #444;
   height: 3px;
   width: 5px;
   margin-top: 4px;
   margin-bottom: 4px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   /* opacity: 1; */
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
   -webkit-transition: transform .35s ease-in-out;
   -moz-transition: transform .35s ease-in-out;
   -o-transition: transform .35s ease-in-out;
   transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    margin-top: 0px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    margin-top: -22px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}

.navbar-light .navbar-nav a {
  display: block;
  position: relative;
  float: right;
  text-decoration: none;
  transition: .5s;
}

.navbar-light .navbar-nav a:hover {
  color: #fc6076 !important;
}

.nav-menu ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  content: '.';
  color: transparent;
  background: #fc6076;
  height: 3px;
  box-shadow: 0 1px 1 white;
}

.nav-menu ul li a:hover:after {
  display: inline-block;
  width: 100%;
  transition: all .4s ease-in-out;
}


/* Hero */
.hero {
  background: url(../images/about/profilephoto2.JPG) no-repeat center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 600px;
  width: 100%;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 34px;
  font-weight: 900;
  position: absolute;
  bottom: 340px;
  left: 50px;
  color: #fff;
}

/* Main */
#aboutmain {
  height: 100%;
  width: 100%;
  margin: 0;
}

#aboutcontent {
  margin-top: -40px;
}

#aboutwebsite {
  margin: 100px 0;
}

h2, h3, h4 {
  font-size: 24px;
  font-weight: 300;
  color: #fc6076;
}

.subtitle, p {
  font-size: 20px;
}

.subtitle {
  font-weight: bold;
}

p {
  font-weight: 200;
  line-height: 33px;
}

img {
  width: 100%;
}

.btn {
  font-size: 14px;
  background: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
  border: none;
  border-color: transparent;
  border-radius: 80px;
  padding: 10px 18px;
  font-weight: 300;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #333333;
  border-color: transparent;
  color: #FFFFFF;
}


/* unvisited link */
a:link {
    color: #fff;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: #333;
}
/* mouse over link */
a:hover {
    color: #FFFFFF;
}
/* selected link */
a:active {
    color: #ff5c21;
}


/* Footer section */
footer {
  position: relative;
  padding-bottom: 20px;
  width: 100%;
}

hr {
  height: 4px;
  background: #333;
  /* background: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%); */
}

i {
  font-size: 25px;
  padding-left: 8px;
  color: #333;
}

i:hover {
  color: #ffffff;
}

.logoblack {
  width: 100px;
  margin-top: -23px;
}

footer h4 {
  font-size: 16px;
  font-weight: 300;
  color: #000;
}

span.small {
  font-size: 8px;
  padding: 20px;
}
/* footer {
  position: relative;
  padding: 20px 0;
  width: 100%;
  background-color: #D28F7C;
}

i {
  font-size: 25px;
  padding-left: 8px;
}

i:hover {
  color: #fff;
}

footer a:link {
  color: #333;
}

.logoblack {
  width: 100px;
  margin-top: -23px;
}

footer h4 {
  font-size: 16px;
}

.btn-sm {
  background-color: #E3B505;
  border-color: #E3B505;
  font-size: 10px;
  font-weight: 200;
  margin-bottom: 10px;
}

.btn-sm a {
  font-size: 14px;
}

.btn-sm:hover {
  background-color: #333333;
  border-color: #333333;
  color: #FFFFFF;
}

span.small {
  font-size: 8px;
  padding: 15px;
} */


/* Media Queries */
/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  h1 {
    font-size: 40px;
    margin: 30px 0 0 0;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  /* Main */
  #about-left {
    padding: 0 20px;
    margin-top: -380px;
    text-align: left;
    flex-wrap: wrap;
  }

  h1 {
    margin: 0;
  }

  #about-right1, #about-right2 {
    padding: 0 20px 0 50px;
    margin-bottom: 20px;
    text-align: right;
  }

  #about-right2 {
    margin-top: -1300px;
    text-align: right;
  }

  .profilepic {
    width: 260px;
    margin-left: 350px;
  }

  p {
    font-weight: lighter;
    line-height: 30px;
  }

  img {
    width: 35%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Main */
  #about-left {
    padding: 0 20px;
    margin-top: -590px;
    text-align: left;
    flex-wrap: wrap;
  }

  h1 {
    font-size: 44px;
  }

  #about-right1, #about-right2 {
    padding: 0 20px 50px 50px;
    margin-bottom: 50px;
    text-align: right;
  }

  #about-right2 {
    margin-top: -900px;
    text-align: right;
  }

  .profilepic {
    width: 350px;
    margin-left: 350px;
  }

  img {
    width: 35%;
  }

  /* Footer section */
  i {
    font-size: 30px;
    padding-left: 8px;
  }

  .logoblack {
    width: 110px;
    margin-top: -23px;
  }

  footer h4 {
    font-size: 20px;
    margin-top: -50px;
  }

  span.small {
    font-size: 11px;
    padding: 15px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Navigation Bar */
  .logowhite {
    width: 120px;
  }

  a.nav-link {
    font-size: 18px;
  }

  .nav-item {
    padding-right: 10px;
  }

  /* Main */
  #aboutmain {
    margin-top: 70px;
  }

  #about-left {
    width: 500px;
    padding: 0 50px 0 80px;
    margin-top: -650px;
    text-align: left;
  }

  h1 {
    font-size: 50px;
    margin: 0;
  }

  #about-right1, #about-right2 {
    padding: 0 80px 50px 50px;
    margin-bottom: 50px;
    text-align: right;
  }

  #about-right2 {
    margin-top: -650px;
    text-align: right;
  }

  .subtitle, p {
    font-size: 18px;
  }

  .profilepic {
    width: 400px;
    margin-left: 350px;
    padding-bottom: 20px;
  }

  img {
    width: 27%;
  }

  /* Footer section */
  i {
    font-size: 26px;
    padding-left: 10px;
    color: #333;
  }

  .logoblack {
    width: 100px;
  }

  footer h4 {
    font-size: 20px;
    margin-top: -50px;
  }

  .btn-sm a {
    font-size: 16px;
  }

  span.small {
    font-size: 12px;
  }

}
