*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Helvetica, sans-serif;
  background: #EEE2DB;  /* fallback for old browsers */
}

/* Navigation Bar */
.navbar-light {
  background-color: #B85C43;
}

.logowhite {
  width: 100px;
}

.navbar-nav {
  font-size: 14px;
  line-height: 10px;
  overflow: hidden;
  position: relative;
  color: #FFFFFF;
}

.navbar-light .navbar-nav a {
  display: block;
  position: relative;
  float: right;
  padding: 1em 0 1em;
  text-decoration: none;
  font-weight: 400;
  color: #393939;
  transition: .7s;
}

.navbar-light .navbar-nav a:hover {
  color: #E3B505 !important;
}

.nav-item {
  padding-right: 10px;
}

nav-menu ul li a,
nav-menu ul li a:after,
nav-menu ul li a:before {
  transition: all .5s;
}

.nav-menu>a {
  position: relative;
}

.nav-menu ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  content: '.';
  color: transparent;
  background: #E3B505;
  height: 4px;
  box-shadow: 0 1px 1 white;
}

.nav-menu ul li a:hover:after {
  display: inline-block;
  width: 100%;
  transition: all .5s ease-in-out;
}

/* Main */
#hero {
  position: relative;
  margin: 0 5px;
}

#hero-left {
  margin: 20px 0;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

h4 {
  font-weight: lighter;
  color: #703035;
}

p {
  font-size: 16px;
  font-weight: lighter;
}

#hero-right {
    margin: 30px 0 40px 0;
}

.form-group {
  width: 100%;
  text-align: left;
}

.form-control {
  font-size: 13px;
  font-weight: lighter;
}

/* unvisited link */
a:link {
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: #333333;
}
/* mouse over link */
a:hover {
    color: #5d5d5d;
    text-decoration: none;
}
/* selected link */
a:active {
    color: #FFFFFF;
}


/* Footer section */
footer {
  position: relative;
  padding: 20px 0;
  width: 100%;
  background-color: #D28F7C;
}

i {
  font-size: 25px;
  padding-left: 8px;
}

.logoblack {
  width: 100px;
  margin-top: -23px;
}

footer h4 {
  font-size: 16px;
}

.btn-secondary {
  background-color: #E3B505;
  border-color: #E3B505;
  font-size: 14px;
  font-weight: 200;
}

.btn-sm {
  background-color: #E3B505;
  border-color: #E3B505;
  font-size: 10px;
  font-weight: 200;
  margin-bottom: 10px;
}

.btn-sm a {
  font-size: 14px;
}

.btn-sm:hover {
  background-color: #333333;
  border-color: #333333;
  color: #FFFFFF;
}

span.small {
  font-size: 9px;
  padding: 20px;
}

.btn-success.disabled {
  background-color: #E3B505;
  border-color: #E3B505;
}


/* Media Queries */
/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  /* Navigation Bar */
  .logowhite {
    width: 110px;
  }

  /* Main */
  #hero {
    position: relative;
    margin: 0;
  }

  #hero-left {
    margin: 20px 0;
    padding-right: 20px;
  }

  h1 {
    width: 200px;
  }

  #hero-right {
      margin: 40px 0;
      padding-left: 20px;
      align: right;
  }

  /* Footer section */

  i {
    font-size: 25px;
    padding-left: 8px;
  }

  .logoblack {
    width: 100px;
    margin-top: -23px;
  }

  footer h4 {
    font-size: 16px;
  }

  .btn-sm {
    background-color: #E3B505;
    border-color: #E3B505;
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 10px;
  }

  .btn-sm a {
    font-size: 14px;
  }


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  /* Navigation Bar */
  .logowhite {
    width: 130px;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Navigation Bar */
  .logowhite {
    width: 120px;
  }

  .navbar-nav {
    font-size: 16px;
    line-height: 10px;
    overflow: hidden;
    position: relative;
    color: #FFFFFF;
  }

  /* Main */
  #hero-left {
    margin: 40px 0;
    padding-right: 30px;
  }

  h1 {
    padding-bottom: 20px;
  }

  #hero-right {
      margin: 40px 0;
      padding-left: 30px;
      text-align: right;
  }

  /* Footer section */
  i {
    font-size: 30px;
    padding-left: 8px;
  }

  .logoblack {
    width: 110px;
  }

  footer h4 {
    font-size: 20px;
  }

  .btn-sm a {
    font-size: 16px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Navigation Bar */
  .logowhite {
    width: 120px;
  }

  a.nav-link {
    font-size: 16px;
  }

  .nav-item {
    padding-right: 10px;
  }

  /* Main */

  #hero {
    margin: 50px 0;
  }
  #hero-left {
    margin: 40px 0;
    padding: 0 80px 0 80px;
  }

  h1 {
    font-size: 34px;
    padding-bottom: 20px;
  }

  p {
    font-size: 18px;
    width: 600px;
  }

  #hero-right {
      margin: 40px 0;
      padding: 0 130px 0 50px;
      justify-content: flex-end;
  }

  .form-group {
    width: 600px;
    justify-content: flex-end;
  }

  .form-control {
    font-size: 16px;
  }

  /* Footer section */
  i {
    font-size: 24px;
    padding-left: 10px;
    color: #333;
  }

  .logoblack {
    width: 100px;
  }

  footer h4 {
    font-size: 20px;
    margin-top: -50px;
  }

  .btn-sm a {
    font-size: 16px;
  }

  span.small {
    font-size: 12px;
  }

}
