*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/manrope/manrope-extrabold.woff2") format("woff2"), /* Modern browsers */
  url("../fonts/manrope/manrope-extrabold.woff") format("woff"), /* Legacy browsers */
  url("../fonts/manrope/manrope-extrabold.otf") format("truetype"); /* Android, iOS */
  font-style: normal;
  font-weight: 800; }
@font-face {
  font-family: "Manrope";
  src: url("../fonts/manrope/manrope-bold.woff2") format("woff2"),
  url("../fonts/manrope/manrope-bold.woff") format("woff"),
  url("../fonts/manrope/manrope-bold.otf") format("truetype");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: "Manrope";
  src: url("../fonts/manrope/manrope-semibold.woff2") format("woff2"),
  url("../fonts/manrope/manrope-semibold.woff") format("woff"),
  url("../fonts/manrope/manrope-semibold.otf") format("truetype");
  font-style: normal;
  font-weight: 600; }
@font-face {
  font-family: "Manrope";
  src: url("../fonts/manrope/manrope-medium.woff2") format("woff2"),
  url("../fonts/manrope/manrope-medium.woff") format("woff"),
  url("../fonts/manrope/manrope-medium.otf") format("truetype");
  font-style: normal;
  font-weight: 500; }
@font-face {
  font-family: "Manrope";
  src: url("../fonts/manrope/manrope-regular.woff2") format("woff2"),
  url("../fonts/manrope/manrope-regular.woff") format("woff"),
  url("../fonts/manrope/manrope-regular.otf") format("truetype");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: "Manrope";
  src: url("../fonts/manrope/manrope-light.woff2") format("woff2"),
  url("../fonts/manrope/manrope-light.woff") format("woff"),
  url("../fonts/manrope/manrope-light.otf") format("truetype");
  font-style: normal;
  font-weight: 300; }
@font-face {
  font-family: "Manrope";
  src: url("../fonts/manrope/manrope-thin.woff2") format("woff2"),
  url("../fonts/manrope/manrope-thin.woff") format("woff"),
  url("../fonts/manrope/manrope-thin.otf") format("truetype");
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: 'Bourbon Grotesque Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bourbon Grotesque Regular'),
  url('../fonts/bourbongrotesque/BourbonGrotesque-Regular.woff') format('woff'),
  url('../fonts/bourbongrotesque/BourbonGrotesque-Regular.otf') format('truetype');
  }

body {
  font-family:  "Manrope", "Helvetica", sans-serif;
  background: #f9f9f9;  /* fallback for old browsers */
  /* background-image: linear-gradient(to right, #ffc3a0 0%, #ffafbd 100%); */
  background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
  min-height: 100vh;
  position: relative;
  margin: 0;
}

/* Navigation Bar */
.logoblack1 {
  width: 90px;
  z-index: 1000;
}

.navbar {
  position: fixed;
  z-index: 70;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu {
  padding-right: 20px;
}

.menu:hover {
  color: white;
  transition: ease-in-out .5s;
  cursor: pointer;
}

.rotateEffect {
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

.overlay {
  position: fixed;
  background: #ffea96;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition:  visibility .35s, height .35s;
  overflow: hidden;
  z-index: 1;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.overlay.close {
  visibility: hidden;
}

li {
  animation: fadeInLeft .5s ease forwards;
  animation-delay: .35s;
}

li:nth-of-type(2) {
  animation-delay: .40s;
}
li:nth-of-type(3) {
  animation-delay: .45s;
}
li:nth-of-type(4) {
  animation-delay: .50s;
}


.overlay-menu {
    position: relative;
    height: 70%;
    top: 60%;
    left: 5%;
    transform: translateY(-50%);
    font-size: 40px;
    font-weight: 800;
    text-align: left;
  }

ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
  }

.nav-link a {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 60px;
  position: relative;
  opacity: 0;
  color: #333;
  padding: 10px;
}

.nav-link:visited {
    display: block;
    position: relative;
    color: #333;
    text-decoration: none;
    overflow: hidden;
}

.nav-link:hover {
  color: #fff;
  -webkit-transition: ease-in-out .5s;
  -moz-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    right: 20%;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

/* Main */
#hero {
  margin: 0 5px;
  padding-top: 100px;
}

#hero-left {
  margin: 50px 0;
}

h1 {
  font-family: "Bourbon Grotesque Regular", "Hiragino Sans", "Raleway", sans-serif;
  font-size: 45px;
  font-weight: 800;
  letter-spacing: 5px;
  line-height: 60px;
}

p {
  font-size: 18px;
  font-weight: 300;
}

hr {
  height: 1.5px;
  background-color: #333;
}

#hero-right {
    margin: 0 0 50px 0;
}

.form-group {
  width: 100%;
  text-align: left;
}

.form-control {
  font-size: 13px;
  font-weight: lighter;
}

.alert {
    display: none;
    text-align: left;
}


/* unvisited link */
a:link {
    color: #fff;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: #fff;
}
/* mouse over link */
a:hover {
    color: #fff;
}
/* selected link */
a:active {
    color: #fff;
}

.btn-primary {
  font-size: 14px;
  background-color: #333;
  color: #fff;
  border-color: transparent;
  border-radius: 80px;
  padding: 10px 18px;
  font-weight: 300;
}

.btn-primary:hover {
  background-color: transparent;
  border-color: #333;
}

.btn-primary a:hover {
  color: #333;
}

/* Return to Top */
.bounce p {
  position: relative;
  left: 0;
  right: 0;
  padding: 10px;
  font-size: 13px;
  text-align: center;
  border-bottom: 2px solid #fff;
  width: 115px;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: -100px; */
  transition: width 0.5s;
}

.bounce {
  z-index: 1;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


/* Footer section */
footer {
  position: relative;
  padding: 30px 20px;
  width: 100%;
  /* background-color: #bf6e87; */
}

footer h3 {
  font-family: "Bourbon Grotesque Regular", "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 5px;
  text-align: left;
  width: 300px;
  margin-top: 80px;
}

.connect {
  margin-top: 60px;
}

.social {
  text-align: right;
  padding: 20px 0;
}

.social a {
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
  color: #333;
}

a:hover {
  color: #ffffff;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}


span.small {
  font-size: 9px;
  padding: 20px 0;
}

a:hover {
  color: #ffffff;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}



/* Media Queries */
/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {

  /* Main */
  #hero {
    margin: 0 5px;
  }

  #hero-left, #hero-right {
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
    flex-direction: column;
  }

  hr {
    width: 100%;
  }


  /* Footer section */
  footer {
    position: relative;
    padding-bottom: 20px;
    width: 100%;
  }

  .social {
    padding-bottom: 50px;
  }

  span.small {
    font-size: 12px;
    padding: 20px;
  }

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  /* Hero */

  #hero-left {
    padding-right: 30px;
  }

  h1 {
    padding-bottom: 50px;
  }

  #hero-right {
    padding-left: 30px;
    margin-top: 100px;
  }

  /* Footer section */
  footer {
    position: relative;
    padding-bottom: 20px;
    width: 100%;
  }

  .social {
    padding-bottom: 50px;
  }

  span.small {
    font-size: 12px;
    padding: 20px;
  }
  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Main */
  #hero {
    margin: 0px 0 20px 0;
  }

  #hero-left {
    padding-right: 30px;
  }

  h1 {
    padding-bottom: 20px;
    font-size: 50px;
  }

  #hero-right {
      margin: 100px 0;
      padding-left: 30px;
      text-align: right;
  }

  /* Footer section */
  footer {
    position: relative;
    padding-bottom: 20px;
    width: 100%;
  }

  .bounce {
    padding-bottom: 0;
  }

  .footername {
    padding: 0 0 50px 50px;
    font-size: 45px;
  }

  .social {
    padding-bottom: 50px;
  }

  span.small {
    font-size: 12px;
    padding: 20px;
  }
  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .logoblack1 {
    width: 100px;
  }
  /* Main */
  #hero {
    margin: 0px 50px 40px 50px;
  }

  #hero-left {
    padding-right: 80px;
  }

  h1 {
    padding-bottom: 50px;
  }

  p {
    font-size: 18px;
    width: 600px;
  }

  #hero-right {
      margin: 100px 0;
      padding: 0 130px 0 50px;
      justify-content: flex-end;
  }

  .form-group {
    width: 600px;
    justify-content: flex-end;
  }

  .form-control {
    font-size: 16px;
  }

  /* Footer section */
  footer {
    position: relative;
    padding-bottom: 20px;
    width: 100%;
  }

  .footerbtn {
    margin-bottom: 30px;
  }

  .connect {
    padding-right: 70px;
  }

  .social a {
    font-size: 18px;
    padding-left: 25px;
  }

  span.small {
    font-size: 14px;
    padding: 20px;
  }
  }
