*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Helvetica, sans-serif;
  background: #f9f9f9;  /* fallback for old browsers */
  /* background-image: linear-gradient(to right, #ffc3a0 0%, #ffafbd 100%); */
  background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
  min-height: 100vh;
  position: relative;
  margin: 0;
}

/* Navigation Bar */
.navbar-nav {
  overflow: hidden;
  position: relative;
}

.navbar-nav a:link {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}

.navbar-light .navbar-toggler {
  border: none!important;
}

button:focus {
  outline: none;
}

.navbar-toggler span {
   display: block;
   background-color: #444;
   height: 3px;
   width: 25px;
   margin-top: 4px;
   margin-bottom: 4px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
   -webkit-transition: transform .35s ease-in-out;
   -moz-transition: transform .35s ease-in-out;
   -o-transition: transform .35s ease-in-out;
   transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    margin-top: 0px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    margin-top: -22px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}

.navbar-light .navbar-nav a {
  display: block;
  position: relative;
  float: right;
  text-decoration: none;
  cursor: pointer;
}

.navbar-light .nav-menu .nav-link {
  color: #000;
  margin-right: 20px;
}

.nav-menu ul li a:before, .nav-menu ul li a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
}

.nav-menu ul li a:hover {
  color: #000;
}

.nav-menu ul li a:before {
  left: -3.5px;
}

.nav-menu ul li a:after {
  right: 2.5px;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.nav-menu ul li a:hover:before {
  background: #fff;
  width: 100%;
  transition: width 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.nav-menu ul li a:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

.logoblack1 {
  width: 90px;
}

/* Main */
#hero {
  margin: 0 5px;
}

#hero-left {
  margin: 50px 0;
}

h1 {
  font-family: "Roboto", serif;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 10px;
  padding-bottom: 20px;
  margin: 0;
}

.t-stroke {
  color: transparent;
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-width: 2px;
  -moz-text-stroke-color: #212121;
  -webkit-text-stroke-color: #212121;
}

.t-shadow {
  text-shadow: 6px 6px #fff;
}

p {
  font-size: 18px;
  font-weight: 300;
}

hr {
  height: 1.5px;
  background-color: #333;
}

#hero-right {
    margin: 0 0 50px 0;
}

.form-group {
  width: 100%;
  text-align: left;
}

.form-control {
  font-size: 13px;
  font-weight: lighter;
}

.alert {
    display: none;
    text-align: left;
}


/* visited link */
a:visited {
    color: #FFF;
}
/* mouse over link */
a:hover {
    color: #dd449b;
    text-decoration: none;
}
/* selected link */
a:active {
    color: #dd449b;
}

.btn-primary {
  font-size: 14px;
  background-color: #dd449b;
  color: #fff;
  border-color: transparent;
  border-radius: 80px;
  padding: 10px 18px;
  font-weight: 300;
}

.btn-primary:hover {
  background-color: transparent;
  border-color: #dd449b;
}

.btn-primary a:hover {
  color: #dd449b;
  text-decoration: none;
}


/* Footer section */
footer {
  position: relative;
  padding: 30px 20px;
  width: 100%;
}

footer h3 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 10px;
  text-align: left;
  width: 300px;
}

.footername {
  margin-top: 50px;
}

.connect {
  margin-top: 60px;
}

.social {
  text-align: right;
  padding: 20px 0;
}

.social a {
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
  color: #333;
}

a:hover {
  color: #ffffff;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}


span.small {
  font-size: 9px;
  padding: 20px 0;
}


/* Media Queries */
/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {

  /* Main */
  #hero {
    margin: 0 5px;
  }

  #hero-left, #hero-right {
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
    flex-direction: column;
  }

  hr {
    width: 100%;
  }


  /* Footer section */
  footer {
    position: relative;
    padding-bottom: 20px;
    width: 100%;
  }

  .social {
    padding-bottom: 50px;
  }

  span.small {
    font-size: 12px;
    padding: 20px;
  }

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  /* Hero */
  #hero {
    margin: 40px 0;
  }

  #hero-left {
    padding-right: 30px;
  }

  h1 {
    padding-bottom: 50px;
  }

  #hero-right {
    padding-left: 30px;
    margin-top: 50px;
  }

  /* Footer section */
  footer {
    position: relative;
    padding-bottom: 20px;
    width: 100%;
  }

  .social {
    padding-bottom: 50px;
  }

  span.small {
    font-size: 12px;
    padding: 20px;
  }
  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Main */
  #hero {
    margin: 40px 0 60px 0;
  }

  #hero-left {
    padding-right: 30px;
  }

  h1 {
    padding-bottom: 50px;
    font-size: 70px;
  }

  #hero-right {
      margin: 40px 0;
      padding-left: 30px;
      text-align: right;
  }

  /* Footer section */
  footer {
    position: relative;
    padding-bottom: 20px;
    width: 100%;
  }

  .footername {
    font-size: 45px;
    padding-left: 100px;
  }

  .social {
    padding-bottom: 50px;
  }

  .footerbtn {
    margin-bottom: 30px;
  }

  span.small {
    font-size: 12px;
    padding: 20px;
  }
  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .logoblack1 {
    width: 100px;
  }
  /* Main */
  #hero {
    margin: 40px 50px 40px 50px;
  }

  #hero-left {
    padding-right: 80px;
  }

  h1 {
    font-size: 74px;
    padding-bottom: 50px;
  }

  p {
    font-size: 18px;
    width: 600px;
  }

  #hero-right {
      margin: 40px 0;
      padding: 0 130px 0 50px;
      justify-content: flex-end;
  }

  .form-group {
    width: 600px;
    justify-content: flex-end;
  }

  .form-control {
    font-size: 16px;
  }

  /* Footer section */
  footer {
    position: relative;
    padding-bottom: 20px;
    width: 100%;
  }

  .footername {
    font-size: 50px;
    padding: 0 0 50px 200px;
  }

  .footerbtn {
    margin-bottom: 30px;
  }

  .connect {
    padding-right: 70px;
  }

  .social a {
    font-size: 18px;
    padding-left: 25px;
  }

  span.small {
    font-size: 14px;
    padding: 20px;
  }
  }
