*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Helvetica, sans-serif;
  background: #EEE2DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #D28F7C, #EEE2DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #D28F7C, #EEE2DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Navigation Bar */
.navbar-nav {
  font-size: 20px;
  overflow: hidden;
  position: relative;
}

.navbar-light .navbar-nav a {
  display: block;
  position: relative;
  float: left;
  padding: 1em 0 1em;
  text-decoration: none;
  font-weight: 400;
  color: #393939;
  transition: .7s;
}

.navbar-light .navbar-nav a:hover {
  color: #E3B505 !important;
}

.nav-item {
  padding-right: 20px;
}

.nav-menu ul li a {
  position: relative;
}

.nav-menu ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  content: '.';
  color: transparent;
  background: #E3B505;
  height: 4px;
  box-shadow: 0 1px 1 white;
}

.nav-menu ul li a:hover:after {
  display: inline-block;
  width: 100%;
  transition: all 1s ease-in-out;
}


/* Hero Titles and Image */
#hero {
  margin-bottom: 200px;
  position: relative;
}

#herograph {
  font-size: 18px;
  width: 600px;
  font-weight: lighter;
}

#lamp-anim {
  position: absolute;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 5px;
  margin-top: 60px;
}

h4 {
  font-weight: lighter;
  color: #703035;
}



/* Section Case Studies */
#preview {
  background: url(/images/wavy_background@2x.png) no-repeat 0 0;
  background-size: 100%;
  background-position: 0% 0%;
  padding-bottom: 150px;
}

.col-lg-12 {
  margin: 35px 0;
}

.card-deck {
  margin: 50px;
}

.card-deck a:visited {
  color: #FFFFFF;
}

.card {
  background-color: #333;
  color: white;
  padding: 10px;
}

.card:hover {
  background-color: #828B8C;
}

.card-body {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* unvisited link */
a:link {
    color: #FFFFFF;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #333333;
}

/* mouse over link */
a:hover {
    color: #FFFFFF;
}

/* selected link */
a:active {
    color: #703035;
}

/* Footer section */
footer {
  position: relative;
  padding: 10px;
  width: 100%;
  line-height: 60px;
}

i {
  padding-left: 10px;
}

.btn-primary {
  background-color: #E3B505;
  border-color: #E3B505;
  font-weight: 200;
}

.btn-primary:hover {
  background-color: #333333;
  border-color: #333333;
  color: #FFFFFF;
}


/* Media Queries */
/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* For mobile phones: */
    [class*="col-"] {
        width: 100%;}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* NAV */
    /* .nav-menu {
      display: flex;
    }
    .navbar li {
      font-size: 2vw;
    } */
    /* HERO */
    /* #hero h1 {
      font-size: 4.5vw;
    }
    #hero h4 {
      font-size: 3vw;
    }
    #hero p {
      font-size: 2vw;
    }

    canvas {
      padding-bottom: 80px;
      height: 10px;
    } */
    /* Case STUDIES */
    /* #preview {
      background: url(/images/wavy_background@2x.png) no-repeat 0 0;
      background-size: 100%;
      background-position: 0% 15%;
      margin-bottom: -140px;
    }
    .col-lg-12 {
      margin: 0;
    }
    .card-title {
      font-size: 2.5vw;
    }
    .card-text {
      font-size: 1vw;
    } */

    /* Footer */
    /* footer {
      font-size: 1.5vw;
    }
    footer h4 {
      font-size: 16px;
    }
    .logoblack {
      width: 100px;
    }
    .btn-primary {
      width: 50%;
      font-size: 13px;
    } */
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }
