*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Helvetica, sans-serif;
  background: #edd9ce;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #D28F7C, #fff0e8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #D28F7C, #F5DED7);
  /* background: linear-gradient(to top, #fcb69f, #ffecd2); */
  /* background-image: linear-gradient(to right, #F7CB8D 0%, #D28F7C 100%); */
}

/* Navigation Bar */
.navbar-nav {
  font-size: 20px;
  overflow: hidden;
  position: relative;
}

.navbar-light .navbar-toggler {
  border: none!important;
}

button:focus {
  outline: none;
}

.navbar-toggler span {
   display: block;
   background-color: #444;
   height: 3px;
   width: 25px;
   margin-top: 4px;
   margin-bottom: 4px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
   -webkit-transition: transform .35s ease-in-out;
   -moz-transition: transform .35s ease-in-out;
   -o-transition: transform .35s ease-in-out;
   transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    margin-top: 0px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    margin-top: -22px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}

.navbar-light .navbar-nav a {
  display: block;
  position: relative;
  float: right;
  text-decoration: none;
  font-weight: 400;
  color: #393939;
  transition: .7s;
}

.navbar-light .navbar-nav a:hover {
  color: #edbc04 !important;
}

.nav-menu ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  content: '.';
  color: transparent;
  background: #edbc04;
  height: 3px;
  box-shadow: 0 1px 1 white;
}

.nav-menu ul li a:hover:after {
  display: inline-block;
  width: 100%;
  transition: all .5s ease-in-out;
}

.logowine {
  width: 120px;
}


/* Hero Titles and Image */
/* #lamp-anim {
  position: absolute;
  width: 100%;
  height: 700px;
  margin-top: -10px;
} */

#hero {
  margin-bottom: 110px;
  padding: 90px 0;
  /* position: relative; */
}

/* h1 {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-weight: 800;
  margin-top: 90px;
} */

.headline {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 70px;
  letter-spacing: 1px;
}

.headline, .location {
  display: flex;
  justify-content: left;
  align-items: left;
  margin-left: 120px;
}

.location {
  font-weight: lighter;
  font-size: 30px;
}

.rotate, .comma {
  position: relative;
}

.comma {
  padding-right: 20px;
}

.animation-1 {
  display: inline-block;
  text-align: left;
}

.animation-1 span {
  position: absolute;
  width: 900px;
  opacity: 0;
  overflow: hidden;
  -webkit-animation: rotateWord 20s linear infinite 0s;
	-ms-animation: rotateWord 20s linear infinite 0s;
  animation: rotateWord 20s linear infinite 0s;
  color: #e5532b;
}

.animation-1 span:nth-child(2) {
  -webkit-animation-delay: 4s;
	-ms-animation-delay: 4s;
  animation-delay: 4s;
}

.animation-1 span:nth-child(3) {
  -webkit-animation-delay: 8s;
	-ms-animation-delay: 8s;
  animation-delay: 8s;
}

.animation-1 span:nth-child(4) {
  -webkit-animation-delay: 12s;
	-ms-animation-delay: 12s;
  animation-delay: 12s;
}

.animation-1 span:nth-child(5) {
  -webkit-animation-delay: 16s;
	-ms-animation-delay: 16s;
  animation-delay: 16s;
}

@keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0;
       -webkit-transform: translateY(-30px);
       transform: translateY(-30px); }
  5% { opacity: 1;
       -webkit-transform: translateY(0px);
       transform: translateY(0px);}
  17% { opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);}
  20% { opacity: 0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);}
  80% { opacity: 0; }
  100% { opacity: 0; }
}

h2, h4 {
  font-size: 20px;
  font-weight: 400;
  color: #703035;
}

/* #herograph {
  font-size: 18px;
  font-weight: lighter;
  text-align: justify;
  padding: 0 16px;
} */



/* Section Case Studies */
/* #preview {
  background: url(/images/wavy_background@2x.png) no-repeat 0 0;
  background-size: cover;
  height: 500px;
  width: 100%;
  background-position: 0% 0%;
  padding-bottom: 110px;
} */

.casetitle {
  margin-top: 20px;
  font-weight: lighter;
}

.card-description {
  line-height: 30px;
}

/* .card-deck {
  margin-top: 25px;
  padding-top: 90px;
} */

.card-deck a:visited {
  color: #ffffff;
}

.card-deck h3, p {
  color: black;
}

.card-body {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: transparent;
  border: none;
  color: #333;
  padding: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.card:hover .overlay {
  opacity: 1;
}

.card-img-top {
  opacity: 1;
  transition: 1s ease;
}

.card:hover .card-img-top {
  opacity: .1;
  transition: .5s ease;
}

.text {
  color: #333333;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  transform: translate(-50%, -50%);
  text-align: center;
  border-style: solid;
  border-color: #fff;
}

#preview h3 {
  font-size: 20px;
}

.card-text {
  font-size: 13px;
}

.card-img-top {
  width: 100%;
}


/* unvisited link */
a:link {
    color: #333333;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: #EEEEEE;
}
/* mouse over link */
a:hover {
    color: #FFFFFF;
}
/* selected link */
a:active {
    color: #E3B505;
}



/* Footer section */
footer {
  position: relative;
  padding-bottom: 20px;
  width: 100%;
}

i {
  font-size: 25px;
  padding-left: 8px;
}

i:hover {
  color: #ffffff;
}

.logoblack {
  width: 100px;
  margin-top: -23px;
}

footer h4 {
  font-size: 16px;
}

.btn-primary {
  background-color: #E3B505;
  border-color: #E3B505;
  font-weight: 200;
  margin-bottom: 10px;
}

.btn-primary:hover {
  background-color: #333333;
  border-color: #333333;
  color: #FFFFFF;
}

span.small {
  font-size: 8px;
  padding: 20px;
}

/* Media Queries */
/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {

    /* Navigation Bar */
    .navbar-nav {
      font-size: 18px;
    }

    /* Hero Titles and Image */
    #lamp-anim {
      width: 100%;
      height: 680px;
    }

    #hero {
      margin-bottom: 100px;
    }

    #herograph {
      width: 450px;
    }

    /* Case STUDIES */
    #preview {
      background-size: cover;
      background-position: 0% 18%;
      height: 550px;
    }

    #preview h3 {
      font-size: 28px;
    }

    .casetitle {
      margin-top: 10px;
    }

    .card-deck {
      margin-top: 30px;
    }

    .card-img-top {
      width: 65%;
    }

    .card-text {
      font-size: 12px;
    }



    /* Footer section */
    footer {
      position: relative;
      padding-bottom: 20px;
      width: 100%;
    }

    i {
      font-size: 25px;
      padding-left: 8px;
    }

    .logoblack {
      width: 100px;
      margin-top: -23px;
    }

    footer h4 {
      font-size: 16px;
      margin-top: 10px;
    }

    .btn-primary {
      align: center;
    }

    span.small {
      font-size: 11px;
      padding: 20px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

  /* Navigation Bar */
  .navbar-nav {
    font-size: 18px;
  }

  /* Hero Titles and Image */
  #lamp-anim {
    width: 100%;
    height: 690px;
  }

  #hero {
    margin-bottom: 140px;
  }

  #herograph {
    width: 650px;
  }

  h1 {
    font-size: 65px;
  }

  #hero h2 {
    font-size: 24px;
  }

  /* Case STUDIES */
  #preview {
    background-size: cover;
    background-position: 0% 18%;
    height: 600px;
    margin-bottom: 20px;
  }

  #preview h3 {
    font-size: 28px;
  }

  .casetitle {
    margin-top: 10px;
  }

  .card-deck {
    margin-top: 25px;
  }

  .card-text {
    font-size: 12px;
  }

  .card-img-top {
    width: 60%;
  }


  /* Footer section */
  footer {
    position: relative;
    padding-bottom: 20px;
    width: 100%;
  }

  i {
    font-size: 25px;
    padding-left: 8px;
  }

  .logoblack {
    width: 100px;
    margin-top: -43px;
  }

  footer h4 {
    font-size: 16px;
    margin-top: 10px;
  }

  .btn-primary {
    align: center;
  }

  span.small {
    font-size: 11px;
    padding: 20px;
  }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  /* Navigation Bar */
  .navbar-nav {
    font-size: 18px;
    overflow: hidden;
    position: relative;
  }

  .navbar-light .navbar-nav a {
    display: block;
    position: relative;
    float: left;
    padding: 1em 0 1em;
    text-decoration: none;
    font-weight: 400;
    color: #393939;
    transition: .7s;
  }

  .navbar-light .navbar-nav a:hover {
    color: #E3B505 !important;
  }

  .nav-item {
    padding-right: 10px;
  }

  .nav-menu ul li a {
    position: relative;
  }

  .nav-menu ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0%;
    content: '.';
    color: transparent;
    background: #E3B505;
    height: 4px;
    box-shadow: 0 1px 1 white;
  }

  .nav-menu ul li a:hover:after {
    display: inline-block;
    width: 100%;
    transition: all 1s ease-in-out;
  }

  .logowine {
    width: 130px;
  }

  /* Hero Titles and Image */
  #lamp-anim {
    width: 100%;
    height: 890px;
  }

  #hero {
    margin: 70px 0 150px 0;
  }

  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 30px;
  }

  #hero p {
    font-size: 20px;
  }

  #herograph {
    width: 700px;
    font-size: 1.5vw;
  }

  /* Section Case Studies */
  #preview {
    background-size: cover;
    background-position: 0% 18%;
    height: 700px;
    margin-bottom: 20px;
  }

  #preview h3 {
    font-size: 30px;
  }

  .card-deck {
    margin-top: 20px;
  }

  .card-text {
    font-size: 12px;
  }

  .card-img-top {
    width: 55%;
  }

  /* Footer section */
  i {
    font-size: 30px;
    padding-left: 10px;
  }

  .logoblack {
    width: 120px;
    margin-top: -23px;
  }

  footer h4 {
    font-size: 18px;
    margin-top: 10px;
  }

  span.small {
    font-size: 12px;
    padding: 20px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  /* Navigation Bar */
  .navbar-nav {
    font-size: 18px;
    overflow: hidden;
    position: relative;
  }

  .navbar-light .navbar-nav a {
    display: block;
    position: relative;
    float: left;
    padding: 1em 0 1em;
    text-decoration: none;
    font-weight: 400;
    color: #393939;
    transition: .7s;
  }

  .navbar-light .navbar-nav a:hover {
    color: #E3B505 !important;
  }

  .nav-item {
    padding-right: 15px;
  }

  .nav-menu ul li a {
    position: relative;
  }

  .nav-menu ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0%;
    content: '.';
    color: transparent;
    background: #E3B505;
    height: 4px;
    box-shadow: 0 1px 1 white;
  }

  .nav-menu ul li a:hover:after {
    display: inline-block;
    width: 100%;
    transition: all 1s ease-in-out;
  }

  .logowine {
    width: 120px;
  }


  /* Hero Titles and Image */
  #hero {
    margin: 30px 0 120px 0;
    position: relative;
  }

  #herograph {
    font-size: 18px;
    font-weight: lighter;
    /* width: 1000px; */
  }

  /* #lamp-anim {
    position: absolute;
    width: 100%;
    height: 750px;
  } */

  h1 {
    font-size: 60px;
  }

  /* h2 {
    font-size: 23px;
    font-weight: 400;
    color: #703035;
  } */



  /* Section Case Studies */
  #preview {
    /* background-size: cover; */
    /* background-position: 0% 45%; */
    height: 700px;
  }

  #preview .casetitle {
    font-size: 24px;
    font-weight: 400;
  }

  #preview h3 {
    font-size: 40px;
    font-weight: 300;
  }

  .card-deck {
    /* margin-top: 50px; */
    padding: 70px 0;
    background-color: rgba(255,255,255,0.2);
  }

  .card {
    /* margin-top: 40px; */
    /* border-width: thin;
    border-color: black;
    padding: 0px -500px; */
  }

  .projectinfo {
    margin-top: 90px;
    padding-left: 100px;
    color: white;
  }

  .card-text {
    font-size: 18px;
  }

  .card-img-top {
    width: 85%;
  }

  .card-description {
    font-weight: lighter;
    font-size: 18px;
    width: 500px;
  }

  /* Footer section */
  i {
    font-size: 26px;
    padding-left: 10px;
    color: #333;
  }

  .logoblack {
    width: 100px;
    margin-top: -20px;
  }

  .footerbtn {
    padding: 10px;
  }

  footer h4 {
    font-size: 20px;
    margin-top: -50px;
    margin-bottom: 20px;
  }

  .btn-primary {
    font-size: 18px;
    border-radius: 80px;
    padding: 10px 18px;
  }

  span.small {
    font-size: 12px;
    padding: 20px;
  }

}
