*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Helvetica, sans-serif;
  /* background: #fcc9e9;  /* fallback for old browsers */
  /* background-color: #FAACA8;
  background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%); */
  background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
  /* background-image: linear-gradient(to right, #ffc3a0 0%, #ffafbd 100%); */
}

/* Navigation Bar */
.navbar-nav {
  overflow: hidden;
  position: relative;
}

.navbar-nav a:link {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}

.navbar-light .navbar-toggler {
  border: none!important;
}

button:focus {
  outline: none;
}

.navbar-toggler span {
   display: block;
   background-color: #444;
   height: 3px;
   width: 25px;
   margin-top: 4px;
   margin-bottom: 4px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
   -webkit-transition: transform .35s ease-in-out;
   -moz-transition: transform .35s ease-in-out;
   -o-transition: transform .35s ease-in-out;
   transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    margin-top: 0px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    margin-top: -22px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}

.navbar-light .navbar-nav a {
  display: block;
  position: relative;
  float: right;
  text-decoration: none;
  cursor: pointer;
}

.navbar-light .nav-menu .nav-link {
  color: #000;
  margin-right: 20px;
}

.nav-menu ul li a:before, .nav-menu ul li a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
}

.nav-menu ul li a:hover {
  color: #000;
}

.nav-menu ul li a:before {
  left: -3.5px;
}

.nav-menu ul li a:after {
  right: 2.5px;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.nav-menu ul li a:hover:before {
  background: #fff;
  width: 100%;
  transition: width 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.nav-menu ul li a:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

.logoblack1 {
  width: 90px;
}


/* Hero Titles and Image */
#hero {
  width: 100%;
  padding: 0 35px;
  margin-top: 20px;
}

h1 {
  font-family: "Roboto", serif;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 10px;
}

.name {
  padding-left: 160px;
  text-align: left;
}

.headline, .location {
  display: inline;
  justify-content: left;
  align-items: left;
}

.location {
  font-weight: 300;
  font-size: 20px;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 50px;
}

.t-stroke {
  color: transparent;
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-width: 2px;
  -moz-text-stroke-color: #212121;
  -webkit-text-stroke-color: #212121;
}

.t-shadow {
  text-shadow: 6px 6px #fff;
}


/* Section Case Studies */
#preview {
  height: 1250px;
}

#preview .scroll {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 10px;
  font-size: 13px;
  text-align: center;
  border-bottom: 2px solid #333;
  width: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  transition: width 0.5s;
}

#scroll a:hover {
  color: #fff;
}

#scroll:hover {
  width: 95px;
}

#preview .casetitle, footer h3 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 10px;
  text-align: left;
  width: 300px;
}

#preview .casetitle {
  margin-top: 250px;
  margin-bottom: 100px;
  padding-left: 40px;
}

.card-deck {
  background-color: rgba(255,255,255,0.5);
  /* background-color: rgb(28, 28, 28); */
  color: #333;
  padding: 50px 0;
}

.card-img-top {
  margin: 30px 0;
  width: 100%;
}

.projectinfo {
  padding-left: 20px;
  margin-bottom: 30px;
}

#preview .card-title {
  font-size: 30px;
  font-weight: 400;
}

.card-description {
  line-height: 30px;
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 30px;
}

/* unvisited link */
a:link {
    color: #fff;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: #fff;
}
/* mouse over link */
a:hover {
    color: #dd449b;
}
/* selected link */
a:active {
    color: #fff;
}

.btn-primary {
  font-size: 14px;
  background-color: #dd449b;
  color: #fff;
  border-color: transparent;
  border-radius: 80px;
  padding: 10px 18px;
  font-weight: 300;
}

.btn-primary:hover {
  background-color: transparent;
  border-color: #dd449b;
}

.btn-primary a:hover {
  color: #dd449b;
}

/* Return to Top */
.bounce p {
  font-family: "Poppins", sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 10px;
  font-size: 13px;
  text-align: center;
  border-bottom: 2px solid #fff;
  width: 115px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -70px;
  transition: width 0.5s;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


/* Footer section */
footer {
  position: relative;
  padding: 30px 20px;
  width: 100%;
}

.footername {
  margin-top: 50px;
}

.connect {
  margin-top: 60px;
}

.social {
  text-align: right;
  padding: 20px 0;
}

.social a {
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
  color: #333;
}

a:hover {
  color: #ffffff;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}


span.small {
  font-size: 9px;
  padding: 20px 0;
}

/* Media Queries */
/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    /* Hero Titles and Image */
    #hero {
      padding-left: 50px;
    }

    .name {
      padding-left: 150px;
    }


    /* Case STUDIES */
    #preview {
      height: 1350px;
    }

    #preview .casetitle {
      margin-top: 250px;
      margin-bottom: 60px;
      padding-left: 80px;
      width: 300px;
    }

    .col-sm-6 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    #preview .card-title {
      font-size: 30px;
      font-weight: 300;
    }

    .projectinfo {
      padding-left: 50px;
    }

    /* Footer section */
    footer {
      position: relative;
      padding-bottom: 20px;
      width: 100%;
    }

    .social {
      padding-bottom: 50px;
    }

    span.small {
      font-size: 12px;
      padding: 20px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  /* Hero Titles and Image */
  #hero {
    padding-left: 50px;
  }

  h1 {
    font-size: 70px;
  }

  .name {
    padding-right: 20px;
    text-align: right;
  }

  .location {
    padding-left: 70px;
    font-size: 24px;
  }


  /* Case STUDIES */
  #preview {
    height: 1400px;
  }

  #preview .casetitle {
    margin-top: 250px;
    margin-bottom: 60px;
    padding-left: 90px;
    width: 300px;
  }

  .col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .card-img-top {
    width: 80%;
    margin-right: 90px;
  }

  .projectinfo {
    padding-left: 50px;
  }

  /* Footer section */
  footer {
    position: relative;
    padding-bottom: 20px;
    width: 100%;
  }

  .social {
    padding-bottom: 50px;
  }

  span.small {
    font-size: 12px;
    padding: 20px;
  }
  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  /* Hero Titles and Image */
  #hero {
    padding-left: 70px;
  }

  h1 {
    font-size: 80px;
  }

  .name {
    padding-right: 20px;
    text-align: right;
  }

  .location {
    padding-left: 70px;
    font-size: 24px;
  }


  /* Case STUDIES */
  #preview {
    height: 1100px;
  }

  #preview .casetitle {
    font-size: 50px;
    margin-top: 250px;
    margin-bottom: 60px;
    padding-left: 290px;
    width: 300px;
  }

  .card-deck {
    padding: 50px 0;
  }

  .card-img-top {
    width: 100%;
  }

  .projectinfo {
    padding: 80px 30px 0 30px;
  }

  /* Footer section */
  footer {
    position: relative;
    padding-bottom: 20px;
    width: 100%;
  }

  .footername {
    font-size: 45px;
  }

  .social {
    padding-bottom: 50px;
  }

  span.small {
    font-size: 12px;
    padding: 20px;
  }
  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Hero Titles and Image */
  #hero {
    padding: 0 100px;
    margin-top: 80px;
  }

  h1 {
    font-size: 90px;
  }

  .name {
    margin-top: -50px;
    padding-right: 50px;
    text-align: right;
  }

  .location {
    font-size: 24px;
    margin-top: -20px;
    padding-left: 70px;
  }

  .logoblack1 {
    width: 100px;
  }


  /* Case STUDIES */
  #preview {
    height: 1400px;
  }

  #preview .casetitle {
    font-size: 80px;
    margin-top: 350px;
    margin-bottom: 60px;
    padding-left: 290px;
    width: 300px;
  }

  .card-deck {
    padding: 50px 0;
  }

  .card-img-top {
    width: 100%;
  }

  .projectinfo {
    margin-top: 130px;
    padding: 0 90px;
  }

  #preview .card-title {
    font-size: 40px;
  }

  #preview .card-text {
    font-size: 18px;
  }

  #preview .card-description {
    font-size: 20px;
  }

  .btn-primary {
    font-size: 16px;
  }

  /* Footer section */
  footer {
    position: relative;
    padding-bottom: 20px;
    width: 100%;
  }

  .footername {
    font-size: 60px;
    padding: 0 0 50px 50px;
  }

  .footerbtn {
    margin-bottom: 30px;
  }

  .connect {
    padding-right: 70px;
  }

  .social a {
    font-size: 18px;
    padding-left: 25px;
  }

  span.small {
    font-size: 14px;
    padding: 20px;
  }
  }
