*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: "Poppins", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Navigation Bar */
.navbar-fixed-top {
  background-color: #B85C43;
}

.navbar-nav {
  font-size: 20px;
  overflow: hidden;
  position: relative;
  color: #FFFFFF;
}

.navbar-nav a {
  display: block;
  position: relative;
  float: left;
  padding: 1em 0 1em;
  text-decoration: none;
  font-weight: 400;
  color: #393939;
  transition: .7s;
}

.nav a:hover {
  color: #E3B505;
}

.nav-item {
  padding-right: 20px;
}

nav-menu ul li a,
nav-menu ul li a:after,
nav-menu ul li a:before {
  transition: all .5s;
}

.nav-menu ul li a {
  position: relative;
}

.nav-menu ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  content: '.';
  color: transparent;
  background: #E3B505;
  height: 3px;
  box-shadow: 0 1px 1 white;
}

.nav-menu ul li a:hover:after {
  display: inline-block;
  width: 100%;
}

/* Sticky nav */
.sticky-top {
  top: -1px;
  margin: 0;
}

.anchor::before {
  display: inline-block;
  content: " ";
  margin-top: -30px;
  height: 120px;
  visibility: hidden;
}

/* Hero */
#hero {
  color: #FFFFFF;
  background: #333333;  /* fallback for old browsers */
  height: 400px;
  padding-top: 50px;
}

#hero-right {
  padding-right: 70px;
}

#hero-left {
  padding-top: 50px;
  padding-left: 70px;
}

#lamp-anim {
  position: absolute;
  margin-top: -50px;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

/* Button */
.btn-primary {
  background-color: #E3B505;
  border-color: #E3B505;
  font-weight: 200;
  margin-right: 30px;
}

.btn-primary:hover {
  background-color: #333333;
  border-color: #333333;
}

.btn-primary:visited {
  background-color: #333333;
  border-color: #333333;
}

.btn-primary:active {
  background-color: #E3B505;
  border-color: #E3B505;
}

/* Submenu Nav */
.affix-top {
  display: inline block;
}

.subnav {
  padding-left: 30px;
}

/* Sections */
section {
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
}


h3 {
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 28px;
  padding: 10px;
}

p {
  padding-top: 10px;
  line-height: 30px;
  font-weight: lighter;
  font-size: 18px;
  width: 100%;
}

/* Overview */
#overview-shaded {
  background-color: #545454;
  color: #FFFFFF;
  padding: 80px;
  padding-top: 100px;
  margin-top: -100px;
}

.titleshaded {
  color: #2C88AD;
}

#shaded {
  background-color: #EEEEEE;
  padding: 80px;
}

#showcaseimg {
  padding-left: 90px;
}

/* Process */
#process, #research, #branding, #execution, #learnings {
  padding: 80px;
  text-align: left;
}

#process {
  margin-bottom: -100px;
}

.processtitle {
  color: #2C88AD;
  text-align: center;
}

.researchtitle, .brandingtitle, .executiontitle, .lessonstitle, .moretitle {
  text-align: center;
}

.researchtitle, .brandingtitle, .executiontitle {
  background-color: #EEEEEE;
  margin: -100px;
  padding: 30px;
}

.sub-title {
  text-align: left;
  color: #A0094A;
  font-weight: 400;
}

hr {
  background-color: #A0094A;
  height: 3px;
}

ul {
  font-weight: lighter;
  font-size: 18px;
}

/* Learnings */
#learnings {
  background: url(/images/cloudcore/colorbanner@2x.png);
  color: #FFFFFF;
}

#lessons {
  margin-top: -80px;
}

/* More to come */
#more {
  padding: 50px;
  background-color: #333333;
  color: white;
  width: 100%;
}

h4 {
  font-weight: lighter;
  color: #703035;
}

/* unvisited link */
a:link {
    color: #2C88AD;
    font-size: 20px;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: #333333;
}
/* mouse over link */
a:hover {
    color: #5d5d5d;
    text-decoration: none;
}
/* selected link */
a:active {
    color: #703035;
}

.back-to-top:visited {
  color: #ffffff;
}


/* Footer section */
footer {
  position: relative;
  padding: 10px;
  width: 100%;
  line-height: 60px;
  background-color: #D28F7C;
}

i {
  padding-left: 10px;
}

#footerbutton {
  padding-left: 30px;
}

#footerbutton .btn-primary a:link {
    color: #FFFFFF;
}
